 /* RESET */ .elq-form * {  margin: 0;  padding: 0;}.elq-form input, textarea {	-webkit-box-sizing:content-box;	-moz-box-sizing:content-box;	box-sizing:content-box;} .elq-form button,input[type=reset],input[type=button],input[type=submit],input[type=checkbox],input[type=radio],select {	-webkit-box-sizing:border-box;	-moz-box-sizing:border-box;	box-sizing:border-box;}/* GENERIC */.elq-form input {	height: 16px;	line-height: 16px;}.elq-form .item-padding {	padding:6px 5px 9px 9px;}.elq-form .pp-group {	padding:0px 5px 0px 9px;}.elq-form .pp-field {	padding:6px 0px 9px 0px;}.elq-form .field-wrapper.individual {    float: left;    width: 100%;	clear: both;}.elq-form .field-p {	position: relative;	margin: 0;	padding: 0;}.elq-form .zIndex-fix {	position: absolute; 	z-index: 1; 	top: 0; 	left: 0; 	right: 0; 	bottom: 0;}.elq-form .field-design {	position:absolute; 	z-index:2; 	top:0; 	left:0; 	right:0; 	bottom:0; 	margin:0; 	padding:0;}.elq-form .no-fields-prompt {	float: left;	width: 100%;	height: 150px;	padding-top: 50px;	clear: both;}/* SECTION BREAKS */.elq-form .section-break {	float:left;	width: 97%;	margin-right:2%;	margin-left:1%;	padding-bottom:6px;}.elq-form .section-break .heading {	width:100%;	font-weight: bold;	margin:0;	padding:0;}/* LABEL */.elq-form .required {	color: red !important;	display: inline;	float: none;	font-weight: bold;	margin: 0pt 0pt 0pt;	padding: 0pt 0pt 0pt;}/* FIELD GROUP */.elq-form .field-group {	float: left;	clear: both;}.elq-form .field-group.large {	width:100%;}.elq-form .field-group.medium {	width:51%;}.elq-form .field-group.small {	width:31%;}.elq-form .field-group .label {	float:left;	width:97%;	margin-right:2%;	margin-left:1%;	padding-bottom:6px;	font-weight: bold;}.elq-form .field-group .field-style {	float: left;}.elq-form .progressive-profile .pp-inner {	float: left;	clear: both;}.elq-form .progressive-profile .pp-inner.large {	width:100%;}.elq-form .progressive-profile .pp-inner.medium {	width:51%;}.elq-form .progressive-profile .pp-inner.small {	width:31%;}/* RADIO */.elq-form .radio-option {	display: inline-block;}.elq-form .radio-option .label {	display:block;	float:left;	padding-right:10px;	padding-left:22px;	text-indent:-22px;}.elq-form .radio-option .input {	vertical-align:middle;	margin-right:7px;}.elq-form .radio-option .inner {	vertical-align:middle;}/* CHECKBOX */.elq-form .checkbox-span {	display:inline-block;}.elq-form .checkbox-label {	margin-left:4px;}/* INPUT */.elq-form .accept-default {	width:100%;}/* SIZING */.elq-form .field-style {	margin-right:2%;	margin-left:2%;}.elq-form .field-style._25 {	width:21%;}.elq-form .field-style._50 {	width:46%;}.elq-form .field-style._50_left {	clear:left;	width:46%;}.elq-form .field-style._75 {	width:71%;}.elq-form .field-style._100 {	width:96%;}.elq-form .field-size-top-small {	width:30%;}.elq-form .field-size-top-medium {	width:75%;}.elq-form .field-size-top-large {	width:100%;}.elq-form .field-size-left-small {	width:21%;}.elq-form .field-size-left-medium {	width:46%;}.elq-form .field-size-left-large {	width:60%;}/* INSTRUCTIONS */.elq-form .instructions.default {	color:#444444;	display:block;	font-size:10px;	padding:6px 0pt 3px;}.elq-form .instructions.group {	float:left;	width:97%;	margin-right:2%;	margin-left:2%;	padding:6px 0pt 3px;	color:#444444;	display:block;	font-size:10px;}.elq-form .instructions.left-single {	margin:0 0 0 33%;}.elq-form .instructions-other {   margin:0;}/* POSITIONING */.elq-form .label-position.left {	display:block;    line-height:150%;    padding:1px 0pt 3px;    float:left;    width:31%;    margin:0pt 15px 0pt 0pt;    word-wrap:break-word;}.elq-form .label-position.top {	display:block;    line-height:150%;    padding:1px 0pt 3px;    white-space:nowrap;}.elq-form .label-position.alignment-left {	text-align: left;}.elq-form .label-position.alignment-right {	text-align: right;}/* LIST ORDER */.elq-form .list-order {	display:block;}.elq-form .list-order.oneColumn {	margin:0pt 7px 0pt 0pt;	width:100%;	clear:both;}.elq-form .list-order.twoColumn {	float:left;	margin:0pt 7px 0pt 0pt;	width:38%;}.elq-form .list-order.threeColumn {	float:left;	margin:0pt 7px 0pt 0pt;	width:30%;}.elq-form .list-order.oneColumnLeft {	float:left;	margin:0pt 7px 0pt 0pt;	width:100%;}.elq-form .list-order.twoColumnLeft {	float:left;	margin:0pt 7px 0pt 0pt;	width:38%;}.elq-form .list-order.threeColumnLeft {	float:left;	margin:0pt 7px 0pt 0pt;	width:30%;}/* GRID STYLE */.elq-form .grid-style {      display:inline;      float:left;      margin-left:2%;      margin-right:2%;}.elq-form .grid-style._25 {      width:21%;}.elq-form .grid-style._50 {      width:46%;}.elq-form .grid-style._75 {      width:71%;}.elq-form .grid-style._100 {      width:96%;  }
	.elq-form textarea { box-sizing: border-box; padding: 2.5px 5px }
	.wrapper { height: 100%; min-height: calc(100vh - 80px); background-position: center bottom;}
	
/*FORM*/
.form .elq-form h3 {
	margin: 0;
	color: #ffffff;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: normal;
    line-height: 1em;
}
.form-design-field { width: 50%; float: left  }
.form-design-field.sc-wide-size { width: 100%; float: left  }
.elq-form .sc-wide-size .field-style._100 {
    width: 98%;
}
.elq-form .sc-wide-size .field-style {
    margin-right: 1%;
    margin-left: 1%;
}
.form .elq-form .form-design-field label {
	font-size: 16px;
	color: #fff;	
	text-align: left;
	font-weight: normal;
}
.form .elq-form .form-design-field label.instructions.default {		
	font-size: 13px;
	padding: 3px 0pt 3px;
}		
.form .elq-form form {
	background-color: #284b81;
}
.form .elq-form .form-design-field input {
	border: 0px;
	padding: 8.5px 10px;
	width: 100%;
	box-sizing: border-box;
    height: auto;
    line-height: 20px;
}
.form .elq-form .form-design-field select {
	width: 100%;
	line-height: 37px;
	height: 37px;
    padding: 0 5px;
    color: #002c2f;
    font-weight: normal;
    font-size: 12px;
    -webkit-appearance: menulist-button;
}
.form .elq-form .actions {
	margin: 0 31px;
}
.form .elq-form .submit input {
	background-color: #ffc20e;
	color: #ffffff;
	font-weight: normal;
	font-size: 22px;
	padding: 7px 5%;
	text-decoration: none;
	border: 0;
	margin-bottom: 15px;
	margin-top: 11px;
	width: 100%;
	cursor: auto;
	border-radius: 3px;
}
  
.form .elq-form .form-design-field label.checkbox-label {
  display: inline-block;
} 
.form .elq-form .form-design-field .checkbox-span input {
    width: auto; 
}  	
.submit-button {
    display: block;
    position: relative;
    padding: 4%;
    background: #00d8b8;
    margin: 15px auto 23px auto;
    border-radius: 4px;
    font-size: 18px !important;
	text-align: center;
    color: #ffffff;
    z-index: 2;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-ms-transition: all 0.35s;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;  
	height: auto !important;
}  
.submit-button:hover {
    color: #284b82; 
    background: #ffffff;
}

.download-btn::before, .blue-btn::before, .submit-button::before  { 
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	z-index: -1;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-ms-transition: all 0.35s;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	border-radius: 2px 0 0 2px;
}  
  
.download-btn::after, .blue-btn::after, .submit-button::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 0;
	z-index: -1;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-ms-transition: all 0.35s;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	border-radius: 2px 0 0 2px;
}
.download-btn:hover::before, .download-btn:hover::after {
	width: 50.5%;
}  

.blue-btn:hover::before, .blue-btn:hover::after {
	width: 50.5%;
}  
.submit-button:hover::before, .submit-button:hover::after {
	width: 50.5%;
}    
.download-btn::before, .download-btn::after {
    background: #284b82;
} 
.submit-button::before, .submit-button::after {
    background: #ffffff;
}
.blue-btn::before, .blue-btn::after {
    background: #a2bd18;
}
.elq-form .item-padding {
    padding: 6px 5px 0px 9px;
    min-height: 86px;
}
.LV_invalid {
    display: block;
    margin-top: 2px;
}
.modal-privacy { clear: both; }
.modal-privacy p { margin: 0px auto 20px; color: #fff; text-align: center; }
.form-design-field:last-of-type { width: 100%; }

@media screen and (max-width:768px){
	.form-design-field { width: 100% }
	.elq-form .sc-wide-size .field-style._100 {
		width: 96%;
	}
	.elq-form .sc-wide-size .field-style {
		margin-right: 2%;
		margin-left: 2%;
	}
}