    <!-- Navigation -->
    <section class="nav-col">
      <div class="header clearfix">
        <div class="">
          <nav class="navbar navbar-demand fixed-nav">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img class="logo" src="/images/Demand-Center-White.png"></a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="/#solution">Solution</a></li>
                  <li><a href="/#features">Features</a></li>
                  <li><a href="/#benefits">Use Cases</a></li>				  
                  <li><a href="/pricing.html">Editions</a></li>
                  <!--li><a href="#">Video</a></li-->
                  <li><a href="/resources.html">Resources</a></li>
                  <li class="d-dt"><a href="/login.html">Log In</a></li>
                  <li><a class="lasta" href="/request-a-demo.html">Request A Demo</a></li>
                </ul>
                </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
              </nav>
            </div>
          </div>
        </section>
        <!-- Navigation -->