{{ define "main" }}	  
    <section class="wrapper">
    <!-- Navigation -->
    <section class="nav-col">
      <div class="header clearfix">
        <div class="">
          <nav class="navbar navbar-demand fixed-nav">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img class="logo" src="/images/Normalator2-White.png"></a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/#solution">Solution</a></li>
                  <li><a href="/#features">Features</a></li>
                  <li><a href="/#editions">Editions</a></li>
                  <!--li><a href="#">Video</a></li-->
                  <li><a href="/#resources">Resources</a></li>
                  <li><a href="https://app2.normalator.com/Account/Login">Log In</a></li>
                  <li><a class="lasta" href="/request-a-demo.html">Request A Demo</a></li>
                </ul>
                </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
              </nav>
            </div>
          </div>
        </section>
        <!-- Navigation -->
		
        <!--Jumbotron -->			
        <section class="">
          <div class="jumbotron jumbo" >
            <div class="container text-center">
              <!--p class="global">Intelligent Global Campaign Orchestration</p-->
              <p class="text-uppercase main-text">404</p>
              <p>Sorry, the page you're looking for couldn't be found.</p>
              <p><a class="btn btn-primary btn-lg text-uppercase button-a" href="/contact-us.html" role="button">Contact Us</a></p>
            </div>
          </div>
        </section>
		
 
    </section>
{{ end }}
